<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Random Noun</title>
	
</head>
<body id="randNoun">
<h1>Test your password!!</h1>
</br>
<%=form_for(:password, :url => {:action => 'test'}) do |f|%>
<%=f.text_field(:pass)%>
</br>
Computer used to hack:
<%=f.radio_button(:cracker, "Amazon")%>Amazon
<%=f.radio_button(:cracker, "Desktop")%>Desktop computer
</br>
<%=submit_tag "Check!", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %>
<%end%>
</body>