<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Password Strength</title>
	<%= stylesheet_link_tag 'style' %>
</head>
<body>
	<div id="container">
		<div id="result" class="raised round">
			<!-- <h1>Your password could be cracked <%=@cracked_in%>.</h1>
			<br> -->
			<% if @in_dictionary %>
			<h1>Your password would be broken almost immediately because it was found in a cracking dictionary</h1>
			</div>
			<div id="try_again">
			<%= button_to("Try Again", :action => "index") %>
			</div>
			<% else %>
			<h1>There is <%= "#{@adj}  #{@chance}" %> chance that your password would be broken within <%= @y %> using <%= @attack %> attack.</h1>
		</div> <!-- result -->
		<div id="options">
			<%= form_for(:application, :url => {:action => 'update'}) do |f| %>
			<%= f.hidden_field(:combinations, :value => @combinations) %>
			<div id="toa">
				<div id="toa_left">
					<h2>Type of attack:</h2>
				</div>
				<div id="toa_right">
					<%= f.radio_button(:cracker, :Extreme, :checked => @cracker == :Extreme ? true : false) %>
					<%= f.label(:cracker_extreme, "Multi-GPU/Distributed") %>
					<br>
					<%= f.radio_button(:cracker, :GPU, :checked => @cracker == :GPU ? true : false) %>
					<%= f.label(:cracker_gpu, "GPU") %>
					<br>
					<%= f.radio_button(:cracker, :desktop, :checked => @cracker == :desktop ? true : false) %>
					<%= f.label(:cracker_desktop, "Desktop Computer") %>
					<br>
					<%= f.radio_button(:cracker, :online, :checked => @cracker == :online ? true : false) %>
					<%= f.label(:cracker_online, "Online") %>
				</div> <!-- toa_right-->
			</div> <!-- toa -->
			<div id="usergen">
				<%= f.radio_button(:usergen, true, :checked => true) %>
				<%= f.label(:usergen_true, "User-generated") %>
				<%= f.radio_button(:usergen, false) %>
				<%= f.label(:usergen_false, "Completely Random") %>
			</div>
			<div id="duration">
				<h2><%= f.label(:years, "Duration of attack in years: ") %>
					<%= f.text_field(:years, :value => @years, :size => 5, :class => "t_field") %></h2>
				<%= submit_tag("Update", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait...") %>
				<% end %>
				<% end %>
			</div> <!-- duration -->
		</div> <!-- container -->
	</body>
	</html>